<li
  [ngClass]="{
    'list-group-item': true,
    'list-group-item-success': post.loveIts > 0,
    'list-group-item-danger': post.loveIts < 0
  }"
>
  <div>
    <div>
      <h4>{{ post.title }}</h4>
    </div>
    <div>{{ post.content }}</div>
    <div>
      <button class="btn btn-success" (click)="post.increment()">
        Love it!
      </button>
      &nbsp;
      <button class="btn btn-danger" (click)="post.decrement()">
        Don't love it!
      </button>
    </div>
    <div class="blog-post-date">
      <span>{{post.createdAt | date: 'dd/MM/yyyy, h:mm a'}}</span>
    </div>
  </div>
</li>
