<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>
        POSTS
      </h2>
      <ul class="list-group">
        <app-blog-post
          *ngFor="let post of posts"
          [post]="post"
        ></app-blog-post>
      </ul>
    </div>
  </div>
</div>
